<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBModel" connectionString="data source=31.147.204.119\PISERVER,1433;initial catalog=RPP22_13_DB;user id=RPP22_13_User;password=&quot;[1_]9};_&quot;;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>